/* H1, add padding */
.mainTitle {
    color: rgb(255, 0, 0);
    font-size: 350%;
    text-align: center;
    padding: 50px;
  }

html, body {
  height: 100%;
  background-color: wheat;
}
body {
  display: flex;
  flex-direction: column;
  align-content: center;
}
.content {
  flex: 1 0 auto;
}
.mainFooter {
  flex-shrink: 0;
  text-align: center;
}
/* small headers for paragraphs */
.colHead1 {
  color: rgb(148, 3, 3);
  font-size: 250%;
  padding: 20px;
  text-align: center;
}

.colHead2 {
  color: rgb(212, 121, 151);
  font-size: 250%;
  padding: 20px;
  text-align: center;
}

.colHead3 {
  color: rgb(175, 132, 152);
  font-size: 250%;
  padding: 20px;
  text-align: center;
}

.paraText {
  padding: 20px;
}

* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Three columns side by side */
.column {
  float: left;
  width: 33.33%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.newsletterForm {
  text-align: center;
}

input[type=text]{
  -webkit-appearance: none;
  appearance: none;

  
  border: 1px solid #333;
  margin: 0;

  font-family: inherit;
  font-size: 90%;

  box-sizing: border-box;
}

input[type=email]{
  -webkit-appearance: none;
  appearance: none;

  
  border: 1px solid #333;
  margin: 0;

  font-family: inherit;
  font-size: 90%;

  box-sizing: border-box;
}

/* This is our style for the invalid fields */
input:invalid{
  border-color: #900;
  background-color: #FDD;
}

input:focus:invalid {
  outline: none;
}

/* This is the style of our error messages */
.error {
  width  : 100%;
  padding: 0;

  font-size: 80%;
  color: white;
  background-color: #900;
  border-radius: 0 0 5px 5px;

  box-sizing: border-box;
}

.error.active {
  padding: 0.3em;
}