.mainTitle {
    color: rgb(255, 0, 0);
    font-size: 350%;
  }

.colHead1 {
    color: rgb(148, 3, 3);
    font-size: 250%;
}

.colHead2 {
  color: rgb(212, 121, 151);
  font-size: 250%;
}

.colHead3 {
  color: rgb(175, 132, 152);
  font-size: 250%;
}
